In [2]:
import numpy as np
import pandas as pd

import re
import time

In [49]:
anon_data = pd.read_csv('anon_data/ring_mondrian/k15_minmaxed.csv')
anon_data.rename(columns={"Unnamed: 0":"index"}, inplace=True)
anon_data.set_index("index")

,A0_min,A0_max,A1_min,A1_max,A2_min,A2_max,A3_min,A3_max,A4_min,A4_max,...,A15_max,A16_min,A16_max,A17_min,A17_max,A18_min,A18_max,A19_min,A19_max,class
index,,,,,,,,,,,,,,,,,,,,,
0,160,6285,162,6921,196,7611,168,7149,217,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
1,160,6285,162,6921,196,7611,-6627,167,-7184,145,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
2,160,6285,-7141,161,153,7611,-6627,195,218,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
3,160,6285,162,6921,196,7611,168,7149,217,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
4,-6879,159,183,6921,167,7611,169,7149,-7184,104,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7395,160,6285,162,6921,-7734,195,156,7149,-7184,182,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
7396,-6879,159,-7141,182,-7734,85,77,7149,-7184,187,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
7397,-6879,159,183,6921,-7734,166,-6627,134,185,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
7398,160,6285,-7141,161,153,7611,-6627,195,-7184,217,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
7399,-6879,159,183,6921,167,7611,-6627,168,-7184,186,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0

In [54]:
cols = list(anon_data.columns[1:-1])

def distance(u,v):
    u = u[cols]
    v = v[cols]
    d = u == v
    counts = d.value_counts()
    return counts[False] if False in counts else 0

In [55]:
def diam_m(data):
    data = data[cols]
    data = data.drop_duplicates()
    diam = 0
    for x in range(len(data)):
        for y in range(x+1, len(data)):
            
            d = distance(data.iloc[x], data.iloc[y])
            
            if d == len(cols):
                print(f"max distance is {d}")
                return d
            
            if d > diam:
                diam = d
                
    return diam

diam_m(anon_data)

17