In [2]:
import numpy as np
import pandas as pd

import re
import time

In [83]:
anon_data = pd.read_csv('anon_data/ring_mondrian/k7400_minmaxed.csv')
anon_data.rename(columns={"Unnamed: 0":"index"}, inplace=True)
anon_data.set_index("index")

,A0_min,A0_max,A1_min,A1_max,A2_min,A2_max,A3_min,A3_max,A4_min,A4_max,...,A15_max,A16_min,A16_max,A17_min,A17_max,A18_min,A18_max,A19_min,A19_max,class
index,,,,,,,,,,,,,,,,,,,,,
0,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
1,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
2,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
3,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
4,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7395,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
7396,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
7397,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0
7398,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,1
7399,-6879,6285,-7141,6921,-7734,7611,-6627,7149,-7184,6383,...,6905,-7163,7175,-8778,6896,-7554,5726,-6722,7627,0

In [84]:
print(list(anon_data.columns[1:-1]))
grouped = anon_data.groupby(list(anon_data.columns[1:-1]))

['A0_min', 'A0_max', 'A1_min', 'A1_max', 'A2_min', 'A2_max', 'A3_min', 'A3_max', 'A4_min', 'A4_max', 'A5_min', 'A5_max', 'A6_min', 'A6_max', 'A7_min', 'A7_max', 'A8_min', 'A8_max', 'A9_min', 'A9_max', 'A10_min', 'A10_max', 'A11_min', 'A11_max', 'A12_min', 'A12_max', 'A13_min', 'A13_max', 'A14_min', 'A14_max', 'A15_min', 'A15_max', 'A16_min', 'A16_max', 'A17_min', 'A17_max', 'A18_min', 'A18_max', 'A19_min', 'A19_max']

In [85]:
tot = 0

for _, classes in grouped:
    cs = classes["class"].value_counts()
    print(cs)
    max_class = cs.idxmax()
    print(f"\tThis is the max class: {max_class}")
    
    pen_eq = cs.sum() - cs[max_class]
    print(f"\tPenalty for class: {pen_eq}")
    print(f"\n\n")
    
    tot+= pen_eq
    
print("#########################################")
print(f"Total classification penalty: {tot}")
print(f"Classification Metric: {tot/len(anon_data)}")

1    3736
0    3664
Name: class, dtype: int64
	This is the max class: 1
	Penalty for class: 3664



#########################################
Total classification penalty: 3664
Classification Metric: 0.49513513513513513