In [1]:
import pandas as pd
import numpy as np

In [6]:
accs = pd.read_csv("accs_lr.csv")
accs

                 algo   no    lr_acc     auroc
0             datafly    2  0.568243  0.579561
1    datafly_shuffled    2  0.515541  0.547946
2            mondrian    2  0.609459  0.722267
3             datafly    3  0.567568  0.572193
4    datafly_shuffled    3  0.530405  0.641823
..                ...  ...       ...       ...
592  datafly_shuffled  199  0.553378  0.589824
593          mondrian  199  0.599324  0.756438
594           datafly  200  0.607432  0.611960
595  datafly_shuffled  200  0.556081  0.645159
596          mondrian  200  0.576351  0.689600

[597 rows x 4 columns]

In [8]:
metrics = pd.read_csv("metrics.csv")
metrics

,algo,no,precision,dm,cm,entropy,discern,ilm,acc
0,datafly,2,0.033311,0.0800,0.397432,0.976796,0.540324,0.046488,0.505405
1,datafly_shuffled,2,0.025027,0.0325,0.433784,0.972464,0.336206,0.049454,0.545270
2,mondrian,2,0.410685,0.5875,0.235405,0.819110,0.000530,0.045995,0.494595
3,datafly,3,0.016667,0.0300,0.425811,0.992277,0.865115,0.048374,0.505405
4,datafly_shuffled,3,0.033333,0.0500,0.389730,0.940804,0.096205,0.048419,0.537838
...,...,...,...,...,...,...,...,...,...
592,datafly_shuffled,199,0.033333,0.0500,0.396216,0.946311,0.137907,0.048051,0.497973
593,mondrian,199,0.418665,0.6075,0.262568,0.819337,0.000522,0.047188,0.494595
594,datafly,200,0.025017,0.0325,0.382838,0.988104,0.755179,0.048139,0.505405
595,datafly_shuffled,200,0.033324,0.0825,0.365135,0.949093,0.159284,0.047892,0.505405
596,mondrian,200,0.397369,0.5700,0.282838,0.834028,0.000900,0.046265,0.494595

In [9]:
res = pd.merge(metrics, accs, on=["algo", "no"])
res

,algo,no,precision,dm,cm,entropy,discern,ilm,acc,lr_acc,auroc
0,datafly,2,0.033311,0.0800,0.397432,0.976796,0.540324,0.046488,0.505405,0.568243,0.579561
1,datafly_shuffled,2,0.025027,0.0325,0.433784,0.972464,0.336206,0.049454,0.545270,0.515541,0.547946
2,mondrian,2,0.410685,0.5875,0.235405,0.819110,0.000530,0.045995,0.494595,0.609459,0.722267
3,datafly,3,0.016667,0.0300,0.425811,0.992277,0.865115,0.048374,0.505405,0.567568,0.572193
4,datafly_shuffled,3,0.033333,0.0500,0.389730,0.940804,0.096205,0.048419,0.537838,0.530405,0.641823
...,...,...,...,...,...,...,...,...,...,...,...
592,datafly_shuffled,199,0.033333,0.0500,0.396216,0.946311,0.137907,0.048051,0.497973,0.553378,0.589824
593,mondrian,199,0.418665,0.6075,0.262568,0.819337,0.000522,0.047188,0.494595,0.599324,0.756438
594,datafly,200,0.025017,0.0325,0.382838,0.988104,0.755179,0.048139,0.505405,0.607432,0.611960
595,datafly_shuffled,200,0.033324,0.0825,0.365135,0.949093,0.159284,0.047892,0.505405,0.556081,0.645159
596,mondrian,200,0.397369,0.5700,0.282838,0.834028,0.000900,0.046265,0.494595,0.576351,0.689600

In [10]:
res.to_csv("metrics.csv", index=None)