In [1]:
import pandas as pd

In [6]:
m = pd.read_csv("metrics.csv").drop("precision", axis=1)
m

         algo   no        dm        cm   entropy       acc   discern       ilm
0     datafly    1  0.466667  0.555379  0.706496  0.351852  0.191784  0.155632
1    mondrian    1  0.800000  0.446211  0.447258  0.486772  0.029170  0.173992
2     datafly    2  0.466667  0.531532  0.681409  0.320106  0.272468  0.195183
3    mondrian    2  0.833333  0.475888  0.493873  0.428571  0.049105  0.185833
4     datafly    3  0.400000  0.552729  0.727920  0.436508  0.196958  0.200000
..        ...  ...       ...       ...       ...       ...       ...       ...
395  mondrian  198  0.833333  0.420774  0.485048  0.383598  0.064194  0.174704
396   datafly  199  0.466667  0.563328  0.720435  0.359788  0.124594  0.169670
397  mondrian  199  0.766667  0.438262  0.404751  0.343915  0.029238  0.173032
398   datafly  200  0.400000  0.552729  0.759855  0.320106  0.248152  0.219626
399  mondrian  200  0.800000  0.449391  0.481111  0.338624  0.086822  0.154072

[400 rows x 8 columns]

In [8]:
p = pd.read_csv("metrics_prectest.csv")
p

         algo   no  precision
0     datafly    1   0.444209
1     datafly    2   0.447065
2     datafly    3   0.333333
3     datafly    4   0.388683
4     datafly    5   0.390184
..        ...  ...        ...
395  mondrian  196   0.493690
396  mondrian  197   0.565801
397  mondrian  198   0.528254
398  mondrian  199   0.552160
399  mondrian  200   0.515025

[400 rows x 3 columns]

In [9]:
data = m.merge(p)
data

,algo,no,dm,cm,entropy,acc,discern,ilm,precision
0,datafly,1,0.466667,0.555379,0.706496,0.351852,0.191784,0.155632,0.444209
1,mondrian,1,0.800000,0.446211,0.447258,0.486772,0.029170,0.173992,0.531080
2,datafly,2,0.466667,0.531532,0.681409,0.320106,0.272468,0.195183,0.447065
3,mondrian,2,0.833333,0.475888,0.493873,0.428571,0.049105,0.185833,0.488331
4,datafly,3,0.400000,0.552729,0.727920,0.436508,0.196958,0.200000,0.333333
...,...,...,...,...,...,...,...,...,...
395,mondrian,198,0.833333,0.420774,0.485048,0.383598,0.064194,0.174704,0.528254
396,datafly,199,0.466667,0.563328,0.720435,0.359788,0.124594,0.169670,0.444209
397,mondrian,199,0.766667,0.438262,0.404751,0.343915,0.029238,0.173032,0.552160
398,datafly,200,0.400000,0.552729,0.759855,0.320106,0.248152,0.219626,0.337661
399,mondrian,200,0.800000,0.449391,0.481111,0.338624,0.086822,0.154072,0.515025

In [11]:
data.to_csv("metrics_new.csv", index=None)