In [2]:
import pandas as pd

In [3]:
cols = ["age","workclass","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","class"]
data = pd.read_csv("../../../datasets/adult/adult_cat_mapped.csv", names=cols)

In [4]:
oh = data[cols[:-1]]
oh

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,6,1,12,6,11,4,4,1,0,0,7,15
1,9,0,12,5,10,5,4,1,0,0,2,15
2,5,4,8,2,1,4,4,1,0,0,7,15
3,9,4,6,5,1,5,3,1,0,0,7,15
4,3,4,12,5,7,3,3,0,0,0,7,17
...,...,...,...,...,...,...,...,...,...,...,...,...
30157,2,4,11,5,2,3,4,0,0,0,7,15
30158,6,4,8,5,6,5,4,1,0,0,7,15
30159,11,4,8,4,11,1,4,0,0,0,7,15
30160,1,4,8,6,11,2,4,1,0,0,3,15
30161,9,3,8,5,10,3,4,0,3,0,7,15

In [5]:
oh = pd.get_dummies(oh, columns=cols[:-1])

In [6]:
oh["class"] = data["class"]

In [7]:
oh

,age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7,age_8,age_9,...,native-country_32,native-country_33,native-country_34,native-country_35,native-country_36,native-country_37,native-country_38,native-country_39,native-country_40,class
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30158,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30160,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30161,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [9]:
for c in cols:
    rel_cols = list(filter(lambda x: c == x[:len(c)], oh.columns))
    print(rel_cols)
    res = oh.groupby(rel_cols).size()
    print(c, res.index)

['age_0', 'age_1', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_18', 'age_19']
age MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)],
           names=['age_0', 'age_1', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_18', 'age_19'])
['workclass_0', 'workclass_1', 'workclass_2', 'workclass_3', 'workclass_4', 'workclass_5', 'workclass_6']
workclass MultiIndex([(0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 1, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0)],
           names=['workclass_0', 'workclass_1', 'workclass_2', 'workclass_3', 'workclass_4', 'workclass_5', 'workclass_6'])
['education-num_0', 'education-num_1', 'education-num_2', 'education-num_3', 'education-num_4', 'education-num_5', 'education-num_6', 'education-num_7', 'education-num_8', 'education-num_9', 'education-num_10', 'education-num_11', 'education-num_12', 'education-num_13', 'education-num_14', 'education-num_15']
education-num MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)],
           names=['education-num_0', 'education-num_1', 'education-num_2', 'education-num_3', 'education-num_4', 'education-num_5', 'education-num_6', 'education-num_7', 'education-num_8', 'education-num_9', 'education-num_10', 'education-num_11', 'education-num_12', 'education-num_13', 'education-num_14', 'education-num_15'])
['marital-status_0', 'marital-status_1', 'marital-status_2', 'marital-status_3', 'marital-status_4', 'marital-status_5', 'marital-status_6']
marital-status MultiIndex([(0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 1, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0)],
           names=['marital-status_0', 'marital-status_1', 'marital-status_2', 'marital-status_3', 'marital-status_4', 'marital-status_5', 'marital-status_6'])
['occupation_0', 'occupation_1', 'occupation_2', 'occupation_3', 'occupation_4', 'occupation_5', 'occupation_6', 'occupation_7', 'occupation_8', 'occupation_9', 'occupation_10', 'occupation_11', 'occupation_12', 'occupation_13']
occupation MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)],
           names=['occupation_0', 'occupation_1', 'occupation_2', 'occupation_3', 'occupation_4', 'occupation_5', 'occupation_6', 'occupation_7', 'occupation_8', 'occupation_9', 'occupation_10', 'occupation_11', 'occupation_12', 'occupation_13'])
['relationship_0', 'relationship_1', 'relationship_2', 'relationship_3', 'relationship_4', 'relationship_5']
relationship MultiIndex([(0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 1, 0),
            (0, 0, 0, 1, 0, 0),
            (0, 0, 1, 0, 0, 0),
            (0, 1, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0)],
           names=['relationship_0', 'relationship_1', 'relationship_2', 'relationship_3', 'relationship_4', 'relationship_5'])
['race_0', 'race_1', 'race_2', 'race_3', 'race_4']
race MultiIndex([(0, 0, 0, 0, 1),
            (0, 0, 0, 1, 0),
            (0, 0, 1, 0, 0),
            (0, 1, 0, 0, 0),
            (1, 0, 0, 0, 0)],
           names=['race_0', 'race_1', 'race_2', 'race_3', 'race_4'])
['sex_0', 'sex_1']
sex MultiIndex([(0, 1),
            (1, 0)],
           names=['sex_0', 'sex_1'])
['capital-gain_0', 'capital-gain_1', 'capital-gain_2', 'capital-gain_3', 'capital-gain_4', 'capital-gain_5', 'capital-gain_6', 'capital-gain_7', 'capital-gain_8']
capital-gain MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 0, 0, 1, 0, 0, 0),
            (0, 0, 0, 0, 1, 0, 0, 0, 0),
            (0, 0, 0, 1, 0, 0, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0, 0, 0)],
           names=['capital-gain_0', 'capital-gain_1', 'capital-gain_2', 'capital-gain_3', 'capital-gain_4', 'capital-gain_5', 'capital-gain_6', 'capital-gain_7', 'capital-gain_8'])
['capital-loss_0', 'capital-loss_1', 'capital-loss_2', 'capital-loss_3', 'capital-loss_4', 'capital-loss_5', 'capital-loss_6', 'capital-loss_7', 'capital-loss_8', 'capital-loss_9', 'capital-loss_10', 'capital-loss_11', 'capital-loss_12', 'capital-loss_13', 'capital-loss_14', 'capital-loss_15', 'capital-loss_16']
capital-loss MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)],
           names=['capital-loss_0', 'capital-loss_1', 'capital-loss_2', 'capital-loss_3', 'capital-loss_4', 'capital-loss_5', 'capital-loss_6', 'capital-loss_7', 'capital-loss_8', 'capital-loss_9', 'capital-loss_10', 'capital-loss_11', 'capital-loss_12', 'capital-loss_13', 'capital-loss_14', 'capital-loss_15', 'capital-loss_16'])
['hours-per-week_0', 'hours-per-week_1', 'hours-per-week_2', 'hours-per-week_3', 'hours-per-week_4', 'hours-per-week_5', 'hours-per-week_6', 'hours-per-week_7', 'hours-per-week_8', 'hours-per-week_9', 'hours-per-week_10', 'hours-per-week_11', 'hours-per-week_12', 'hours-per-week_13', 'hours-per-week_14', 'hours-per-week_15', 'hours-per-week_16', 'hours-per-week_17', 'hours-per-week_18', 'hours-per-week_19']
hours-per-week MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)],
           names=['hours-per-week_0', 'hours-per-week_1', 'hours-per-week_2', 'hours-per-week_3', 'hours-per-week_4', 'hours-per-week_5', 'hours-per-week_6', 'hours-per-week_7', 'hours-per-week_8', 'hours-per-week_9', 'hours-per-week_10', 'hours-per-week_11', 'hours-per-week_12', 'hours-per-week_13', 'hours-per-week_14', 'hours-per-week_15', 'hours-per-week_16', 'hours-per-week_17', 'hours-per-week_18', 'hours-per-week_19'])
['native-country_0', 'native-country_1', 'native-country_2', 'native-country_3', 'native-country_4', 'native-country_5', 'native-country_6', 'native-country_7', 'native-country_8', 'native-country_9', 'native-country_10', 'native-country_11', 'native-country_12', 'native-country_13', 'native-country_14', 'native-country_15', 'native-country_16', 'native-country_17', 'native-country_18', 'native-country_19', 'native-country_20', 'native-country_21', 'native-country_22', 'native-country_23', 'native-country_24', 'native-country_25', 'native-country_26', 'native-country_27', 'native-country_28', 'native-country_29', 'native-country_30', 'native-country_31', 'native-country_32', 'native-country_33', 'native-country_34', 'native-country_35', 'native-country_36', 'native-country_37', 'native-country_38', 'native-country_39', 'native-country_40']
native-country MultiIndex([(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...),
            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...)],
           names=['native-country_0', 'native-country_1', 'native-country_2', 'native-country_3', 'native-country_4', 'native-country_5', 'native-country_6', 'native-country_7', 'native-country_8', 'native-country_9', 'native-country_10', 'native-country_11', 'native-country_12', 'native-country_13', 'native-country_14', 'native-country_15', 'native-country_16', 'native-country_17', 'native-country_18', 'native-country_19', 'native-country_20', 'native-country_21', 'native-country_22', 'native-country_23', 'native-country_24', 'native-country_25', 'native-country_26', 'native-country_27', 'native-country_28', 'native-country_29', 'native-country_30', 'native-country_31', 'native-country_32', 'native-country_33', 'native-country_34', 'native-country_35', 'native-country_36', 'native-country_37', 'native-country_38', 'native-country_39', 'native-country_40'])
['class']
class Int64Index([0, 1], dtype='int64', name='class')

In [10]:
m = {}
for c in cols:
    if c == "class":
        m[c] = c
    else:
        rel_cols = list(filter(lambda x: c == x[:len(c)], oh.columns))
        for i in range(len(rel_cols)):
            m[c+f"_{i}"] = c+str(i)
m

{'age_0': 'age0',
 'age_1': 'age1',
 'age_2': 'age2',
 'age_3': 'age3',
 'age_4': 'age4',
 'age_5': 'age5',
 'age_6': 'age6',
 'age_7': 'age7',
 'age_8': 'age8',
 'age_9': 'age9',
 'age_10': 'age10',
 'age_11': 'age11',
 'age_12': 'age12',
 'age_13': 'age13',
 'age_14': 'age14',
 'age_15': 'age15',
 'age_16': 'age16',
 'age_17': 'age17',
 'age_18': 'age18',
 'age_19': 'age19',
 'workclass_0': 'workclass0',
 'workclass_1': 'workclass1',
 'workclass_2': 'workclass2',
 'workclass_3': 'workclass3',
 'workclass_4': 'workclass4',
 'workclass_5': 'workclass5',
 'workclass_6': 'workclass6',
 'education-num_0': 'education-num0',
 'education-num_1': 'education-num1',
 'education-num_2': 'education-num2',
 'education-num_3': 'education-num3',
 'education-num_4': 'education-num4',
 'education-num_5': 'education-num5',
 'education-num_6': 'education-num6',
 'education-num_7': 'education-num7',
 'education-num_8': 'education-num8',
 'education-num_9': 'education-num9',
 'education-num_10': 'education-num10',
 'education-num_11': 'education-num11',
 'education-num_12': 'education-num12',
 'education-num_13': 'education-num13',
 'education-num_14': 'education-num14',
 'education-num_15': 'education-num15',
 'marital-status_0': 'marital-status0',
 'marital-status_1': 'marital-status1',
 'marital-status_2': 'marital-status2',
 'marital-status_3': 'marital-status3',
 'marital-status_4': 'marital-status4',
 'marital-status_5': 'marital-status5',
 'marital-status_6': 'marital-status6',
 'occupation_0': 'occupation0',
 'occupation_1': 'occupation1',
 'occupation_2': 'occupation2',
 'occupation_3': 'occupation3',
 'occupation_4': 'occupation4',
 'occupation_5': 'occupation5',
 'occupation_6': 'occupation6',
 'occupation_7': 'occupation7',
 'occupation_8': 'occupation8',
 'occupation_9': 'occupation9',
 'occupation_10': 'occupation10',
 'occupation_11': 'occupation11',
 'occupation_12': 'occupation12',
 'occupation_13': 'occupation13',
 'relationship_0': 'relationship0',
 'relationship_1': 'relationship1',
 'relationship_2': 'relationship2',
 'relationship_3': 'relationship3',
 'relationship_4': 'relationship4',
 'relationship_5': 'relationship5',
 'race_0': 'race0',
 'race_1': 'race1',
 'race_2': 'race2',
 'race_3': 'race3',
 'race_4': 'race4',
 'sex_0': 'sex0',
 'sex_1': 'sex1',
 'capital-gain_0': 'capital-gain0',
 'capital-gain_1': 'capital-gain1',
 'capital-gain_2': 'capital-gain2',
 'capital-gain_3': 'capital-gain3',
 'capital-gain_4': 'capital-gain4',
 'capital-gain_5': 'capital-gain5',
 'capital-gain_6': 'capital-gain6',
 'capital-gain_7': 'capital-gain7',
 'capital-gain_8': 'capital-gain8',
 'capital-loss_0': 'capital-loss0',
 'capital-loss_1': 'capital-loss1',
 'capital-loss_2': 'capital-loss2',
 'capital-loss_3': 'capital-loss3',
 'capital-loss_4': 'capital-loss4',
 'capital-loss_5': 'capital-loss5',
 'capital-loss_6': 'capital-loss6',
 'capital-loss_7': 'capital-loss7',
 'capital-loss_8': 'capital-loss8',
 'capital-loss_9': 'capital-loss9',
 'capital-loss_10': 'capital-loss10',
 'capital-loss_11': 'capital-loss11',
 'capital-loss_12': 'capital-loss12',
 'capital-loss_13': 'capital-loss13',
 'capital-loss_14': 'capital-loss14',
 'capital-loss_15': 'capital-loss15',
 'capital-loss_16': 'capital-loss16',
 'hours-per-week_0': 'hours-per-week0',
 'hours-per-week_1': 'hours-per-week1',
 'hours-per-week_2': 'hours-per-week2',
 'hours-per-week_3': 'hours-per-week3',
 'hours-per-week_4': 'hours-per-week4',
 'hours-per-week_5': 'hours-per-week5',
 'hours-per-week_6': 'hours-per-week6',
 'hours-per-week_7': 'hours-per-week7',
 'hours-per-week_8': 'hours-per-week8',
 'hours-per-week_9': 'hours-per-week9',
 'hours-per-week_10': 'hours-per-week10',
 'hours-per-week_11': 'hours-per-week11',
 'hours-per-week_12': 'hours-per-week12',
 'hours-per-week_13': 'hours-per-week13',
 'hours-per-week_14': 'hours-per-week14',
 'hours-per-week_15': 'hours-per-week15',
 'hours-per-week_16': 'hours-per-week16',
 'hours-per-week_17': 'hours-per-week17',
 'hours-per-week_18': 'hours-per-week18',
 'hours-per-week_19': 'hours-per-week19',
 'native-country_0': 'native-country0',
 'native-country_1': 'native-country1',
 'native-country_2': 'native-country2',
 'native-country_3': 'native-country3',
 'native-country_4': 'native-country4',
 'native-country_5': 'native-country5',
 'native-country_6': 'native-country6',
 'native-country_7': 'native-country7',
 'native-country_8': 'native-country8',
 'native-country_9': 'native-country9',
 'native-country_10': 'native-country10',
 'native-country_11': 'native-country11',
 'native-country_12': 'native-country12',
 'native-country_13': 'native-country13',
 'native-country_14': 'native-country14',
 'native-country_15': 'native-country15',
 'native-country_16': 'native-country16',
 'native-country_17': 'native-country17',
 'native-country_18': 'native-country18',
 'native-country_19': 'native-country19',
 'native-country_20': 'native-country20',
 'native-country_21': 'native-country21',
 'native-country_22': 'native-country22',
 'native-country_23': 'native-country23',
 'native-country_24': 'native-country24',
 'native-country_25': 'native-country25',
 'native-country_26': 'native-country26',
 'native-country_27': 'native-country27',
 'native-country_28': 'native-country28',
 'native-country_29': 'native-country29',
 'native-country_30': 'native-country30',
 'native-country_31': 'native-country31',
 'native-country_32': 'native-country32',
 'native-country_33': 'native-country33',
 'native-country_34': 'native-country34',
 'native-country_35': 'native-country35',
 'native-country_36': 'native-country36',
 'native-country_37': 'native-country37',
 'native-country_38': 'native-country38',
 'native-country_39': 'native-country39',
 'native-country_40': 'native-country40',
 'class': 'class'}

In [11]:
oh = oh.rename(m, axis=1)

In [12]:
oh.to_csv("original_oh.csv", index=False)

In [13]:
d = pd.read_csv("original_oh.csv")
d

,age0,age1,age2,age3,age4,age5,age6,age7,age8,age9,...,native-country32,native-country33,native-country34,native-country35,native-country36,native-country37,native-country38,native-country39,native-country40,class
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30158,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30160,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30161,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [15]:
d = pd.read_csv("datafly1_oh_shuffled.csv")
d

,age0,age1,age2,age3,age4,age5,age6,age7,age8,age9,...,native-country32,native-country33,native-country34,native-country35,native-country36,native-country37,native-country38,native-country39,native-country40,class
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
30158,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
30159,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
30160,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
30161,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1