In [1]:
import pandas as pd

In [2]:
ring = pd.read_csv("ring_randoms/metrics.csv")
ring

,algo,no,precision,dm,cm,entropy,discern,ilm,lr_acc,auroc,hellinger,bivariate_corr
0,datafly,2,0.033311,0.0800,0.397432,0.976796,0.540324,0.046488,0.568243,0.579561,0.494021,0.123255
1,datafly_shuffled,2,0.025027,0.0325,0.433784,0.972464,0.336206,0.049454,0.515541,0.547946,0.495795,0.000000
2,mondrian,2,0.410685,0.5875,0.235405,0.819110,0.000530,0.045995,0.609459,0.722267,0.501421,0.005020
3,datafly,3,0.016667,0.0300,0.425811,0.992277,0.865115,0.048374,0.567568,0.572193,0.495795,0.000000
4,datafly_shuffled,3,0.033333,0.0500,0.389730,0.940804,0.096205,0.048419,0.530405,0.641823,0.495795,0.001459
...,...,...,...,...,...,...,...,...,...,...,...,...
592,datafly_shuffled,199,0.033333,0.0500,0.396216,0.946311,0.137907,0.048051,0.553378,0.589824,0.494021,0.001711
593,mondrian,199,0.418665,0.6075,0.262568,0.819337,0.000522,0.047188,0.599324,0.756438,0.495744,0.004173
594,datafly,200,0.025017,0.0325,0.382838,0.988104,0.755179,0.048139,0.607432,0.611960,0.495795,0.000000
595,datafly_shuffled,200,0.033324,0.0825,0.365135,0.949093,0.159284,0.047892,0.556081,0.645159,0.495795,0.123678
596,mondrian,200,0.397369,0.5700,0.282838,0.834028,0.000900,0.046265,0.576351,0.689600,0.496919,0.004618

In [3]:
birth = pd.read_csv("birth_randoms/metrics.csv")
birth

,algo,no,precision,dm,cm,entropy,discern,ilm,auroc,lr_acc,hellinger,bivariate_corr
0,datafly,1,0.472531,0.466667,0.520933,0.723852,0.180107,0.166484,NaN,0.425926,0.236703,0.493245
1,datafly_shuffled,1,0.392746,0.333333,0.574457,0.802920,0.326712,0.187299,NaN,0.367725,0.174165,0.476127
2,mondrian,1,0.630650,0.866667,0.425543,0.357773,0.011453,0.138986,NaN,0.444444,0.217266,0.038500
3,datafly,2,0.401814,0.333333,0.551669,0.767857,0.256308,0.183695,NaN,0.362434,0.219427,0.492103
4,datafly_shuffled,2,0.370174,0.333333,0.572867,0.768779,0.248001,0.177843,NaN,0.370370,0.174165,0.479300
...,...,...,...,...,...,...,...,...,...,...,...,...
595,datafly_shuffled,199,0.333333,0.200000,0.586645,0.837448,0.383618,0.200000,NaN,0.391534,0.219427,0.000000
596,mondrian,199,0.590277,0.866667,0.421834,0.387351,0.021104,0.151716,NaN,0.423280,0.252361,0.019067
597,datafly,200,0.259259,0.266667,0.567038,0.811682,0.282501,0.211111,NaN,0.425926,0.248490,0.001721
598,datafly_shuffled,200,0.388683,0.333333,0.536831,0.755125,0.208323,0.185603,NaN,0.399471,0.219427,0.490936
599,mondrian,200,0.567018,0.866667,0.412295,0.355915,0.012748,0.151846,NaN,0.441799,0.249818,0.029220

In [4]:
adult = pd.read_csv("adult_randoms/metrics.csv")
adult

,algo,no,precision,dm,cm,entropy,discern,ilm,auroc,lr_acc,hellinger,bivariate_corr
0,datafly,1,0.184196,0.067073,0.248922,0.882860,0.279394,0.058538,0.768799,0.696503,0.443068,0.256469
1,datafly_shuffled,1,0.217921,0.085366,0.240634,0.813822,0.127674,0.056074,NaN,0.361346,0.395327,0.327287
2,mondrian,1,0.551444,0.817073,0.161296,0.429300,0.000632,0.050426,NaN,0.610641,0.451907,0.014277
3,datafly,2,0.167015,0.079268,0.248922,0.925670,0.436592,0.066250,0.639221,0.544339,0.463347,0.006995
4,datafly_shuffled,2,0.210820,0.067073,0.248922,0.860101,0.231081,0.058820,NaN,0.399967,0.443068,0.000108
...,...,...,...,...,...,...,...,...,...,...,...,...
595,datafly_shuffled,199,0.240942,0.140244,0.243353,0.777514,0.073246,0.056830,NaN,0.554119,0.443068,0.004344
596,mondrian,199,0.553054,0.884146,0.158544,0.493906,0.001710,0.050705,NaN,0.795956,0.438494,0.016014
597,datafly,200,0.242756,0.079268,0.206750,0.910911,0.385237,0.055366,0.670638,0.785182,0.395327,0.249884
598,datafly_shuffled,200,0.168498,0.073171,0.248922,0.897395,0.292923,0.063834,NaN,0.693519,0.438883,0.326455
599,mondrian,200,0.558813,0.810976,0.154201,0.442071,0.000677,0.045294,NaN,0.718216,0.405546,0.016219